body {
  font-family: "Source Sans 3", sans-serif;
  background-color: rgb(237, 237, 237);
  margin: 0;
}

/*
container
*/
.container {
  width: 375px;
  margin: 0 auto;
  background-color: rgb(237, 237, 237);
}
.container-user {
  display: flex;
  padding-top: 10px;
  background-color: white;
}

.vangogh-container {
  background-color: white;
  margin-bottom: 20px;
}
.courbet-container,
.ducreux-container {
  margin-top: 20px;
  background-color: white;
}
/*
header
*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c6c6c6;
  background-color: white;
  padding: 0px 15px 10px 8px;
}
.logo {
  width: 127px;
}

/*
oldgram post
*/
.user-icon {
  margin-left: 10px;
}
.username-text,
.location-text {
  margin: 0;
  padding-left: 7px;
}
.user-avatar,
.user-icon {
  width: 34px;
  height: 34px;
  border-radius: 50px;
}
.username-text,
.username-caption,
.like-count {
  font-size: 13px;
  font-weight: 700;
}

.location-text,
.caption {
  font-size: 12px;
  font-weight: 400;
}

.post-image {
  width: 375px;
  height: 375px;
  margin-top: 15px;
}

/*
Like, comment, and share section
and user comment section
*/
.heart-icon,
.dm-icon,
.comment-icon {
  width: 25px;
  padding-right: 12px;
}
.heart-icon:hover {
  cursor: pointer;
  box-shadow: 0 5px 35px 0px rgba(0, 0, 0, 0.1);
}
.icons:hover {
  background-color: white;
  opacity: 70%;
}

.icons {
  padding: 10px 0px 0px 5px;
}

.username-caption,
.like-count {
  padding-left: 10px;
  margin: 0;
}
.username-caption {
  padding: 10px 0px 16px 10px;
}

.coded {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
